:root {
  --primary: #c04f15;
  --secondary: #f2aa84;
  --primary-inverse: #6e6e6e;
  --text-default: white;
  --text-inverse: black;
  --background-primary: #e97132;
  --background-base: #d2c7ae;
  --background-primary-inverse: #404040;
  --background-secondary: #f2f2f2;
  --global-space: 5vw;
}

body {
  margin: 0px;
  background-color: var(--background-base);
}

input {
  padding: 8px;
  margin: 2px;
  background-color: var(--background-secondary);
  filter: brightness(0.9);
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
}

textarea {
  padding: 8px;
  background-color: var(--background-secondary);
  filter: brightness(0.9);
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
}

ul {
  padding: 0px;
}

h1 {
  margin: 8px;
}

h2 {
  background: linear-gradient(transparent 85%, var(--primary) 40%);
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

nav a {
  display: block;
}

textarea {
  width: 100%;
  min-height: 100px;
}

.header {
  background-color: var(--background-primary-inverse);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn {
  font-size: 16px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--text-default);
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn a {
  color: var(--text-default);
}

.btn:hover {
  filter: brightness(1.2);
}

.sub-btn {
  background-color: var(--primary-inverse);
  padding: 5px 10px;
  font-size: 13px;
}

.header-page {
  padding: 10px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#account-menu ul {
  display: flex;
  justify-content: flex-end;
}

#account-menu li {
  color: var(--text-default);
  font-weight: bold;
  margin-left: 15px;
}

#account-menu li a {
  color: var(--text-default);
  font-weight: bold;
}

#main-menu li {
  position: relative;
  text-align: center;
}

#main-menu li a {
  width: 200px;
  margin-left: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--background-primary-inverse);
  color: var(--text-default);
  font-weight: bold;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
}

#main-menu li a.active {
  background: var(--background-primary);
}

#main-menu li a:not(.active):hover {
  filter: brightness(1.2);
}

#thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.content {
  color: var(--text-default);
}

.fixed-height-image {
  height: 300px;
  object-fit: cover;
  display: block;
}

.small-image {
  height: 100px;
}

.fixed-width-image {
  width: 400px;
  object-fit: cover;
}

.icon-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.alert-success {
  color: green;
}

.alert-danger {
  color: red;
}

.container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  overflow: visible;
}

.container h1 {
  color: var(--text-default);
}

.container h2 {
  color: var(--text-default);
}

.container ul li {
  list-style: none;
}

.devise {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  background-color: var(--background-primary);
  padding: 30px;
  flex: 1;
}

.side-content {
  background-color: var(--background-primary-inverse);
  min-width: 400px;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-y: auto;
}

.center-content {
  background-color: var(--background-primary);
  width: 600px;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.frame {
  color: var(--text-inverse);
  background-color: var(--background-secondary);
  padding: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#index .frame:hover {
  filter: brightness(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.frame p {
  margin: 8px 0;
}

.frame p strong {
  font-weight: bold;
}

.sub-frame {
  filter: brightness(0.9);
  margin-bottom: 10px;
}

.actions {
  padding: 10px 0px;
}

.travel_time {
  background-color: var(--background-base);
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  width: 130px;
}

@media (min-width: 640px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px var(--background-base) solid;
    padding-left: 30px;
  }
}

.information {
  color: var(--text-default);
}

.logo {
  padding-left: 10px;
  color: var(--text-default);
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 930px) {
  .left.logo {
    display: none;
  }
}
