:root {
  --base-color: #ca9f6aea;
  --main-color: #475d6de0;
  --accent-color: #d6620a;
  --body-color: #ffffff;
  --default-text-color: #ffffff;
  --inverse-text-color: #474747;
  --frame: #ffffff;
  --global-space: 5vw;
}

body {
  margin: 0px;
  background-color: var(--body-color);
}

input {
  padding: 8px;
  margin: 2px;
  background-color: var(--frame);
  filter: brightness(0.9);
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
}

textarea {
  padding: 8px;
  background-color: var(--frame);
  filter: brightness(0.9);
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
}

ul {
  padding: 0px;
}

h1 {
  color: var(--inverse-text-color);
}

h2 {
  background: linear-gradient(transparent 85%, var(--accent-color) 40%);
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

nav a {
  display: block;
}

textarea {
  width: 100%;
  min-height: 100px;
}

.header {
  background-color: var(--main-color);
  padding: 5px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn {
  font-size: 16px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--default-text-color);
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn a {
  color: var(--default-text-color);
}

.btn:hover {
  filter: brightness(1.1);
}

.header-page {
  padding: 0px 20px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.account-menu ul {
  display: flex;
  justify-content: flex-end;
}

.account-menu li {
  color: var(--default-text-color);
  font-weight: bold;
}

.account-menu li a {
  color: var(--default-text-color);
  font-weight: bold;
}

.navbar-link {
  padding-left: 10px;
}

.main-menu li {
  position: relative;
  text-align: center;
}

.main-menu li a {
  width: 200px;
  margin-left: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--main-color);
  color: var(--default-text-color);
  font-weight: bold;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
}

.main-menu li a.active {
  background: var(--base-color);
}

.main-menu li a:not(.active):hover {
  filter: brightness(1.2);
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.content {
  color: var(--default-text-color);
}

.fixed-height-image {
  height: 300px;
  object-fit: cover;
  display: block;
}

.small-image {
  height: 100px;
}

.fixed-width-image {
  width: 400px;
  object-fit: cover;
}

.icon-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.alert {
  padding-left: 20px;
}

.alert-success {
  font-weight: bold;
  color: green; /* 緑色のテキスト */
}

.alert-danger {
  font-weight: bold;
  color: red; /* 赤色のテキスト */
}

.container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  overflow: visible;
}

.container h1 {
  color: var(--default-text-color);
}

.container h2 {
  color: var(--default-text-color);
}

.container ul li {
  list-style: none;
}

.devise {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  background-color: var(--base-color);
  padding: 30px;
  flex: 1;
}

.side-content {
  background-color: var(--main-color);
  min-width: 400px;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-y: auto;
}

.center-content {
  background-color: var(--base-color);
  width: 600px;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.frame {
  color: var(--inverse-text-color);
  background-color: var(--frame);
  padding: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.frame p {
  margin: 8px 0;
}

.frame p strong {
  font-weight: bold;
}

.sub-frame {
  filter: brightness(0.9);
  margin-bottom: 10px;
}

.actions {
  padding: 10px 0px;
}

.travel_time {
  background-color: var(--main-color);
  color: var(--default-text-color);
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  width: 130px;
}

.information {
  color: var(--default-text-color);
}

.logo-icon {
  height: 40px;
  width: auto;
}

.logo-text {
  padding-left: 10px;
  color: var(--default-text-color);
  font-weight: bold;
  font-size: 25px;
}

.logo-container {
  text-align: center;
}

.logo-full {
  height: 150px;
  width: auto;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 870px) {
  .collapse-on-small {
    display: none;
  }
}

@media (min-width: 640px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px var(--base-color) solid;
    padding-left: 30px;
  }
}
