<h1><%= t('views.common.title_edit', name: Image.model_name.human.downcase) %></h1>

<%= render 'form', image: @image %>

<% content_for :scripts do %>
  <%= javascript_include_tag "images/edit_shooting_map" %>
<% end %>

<nav class="page-nav">
  <%= link_to t('views.common.back_show', name: Image.model_name.human.downcase), @image %>
</nav>
