<div class="container">
  <div class="main-content">
    <% if @images.empty? %>
      <div class="frame sub-frame">
        <p><strong><%= t('views.common.no_data', name: Image.model_name.human ) %></strong><p>
      </div>
    <% end %>
    <% @grouped_images.each do |date, images| %>
      <h2><%= date.strftime("%Y年%m月%d日") %></h2>
      <div class="frame thumbnails">
        <% images.each do |image| %>
          <%= link_to image_path(image) do %>
            <%= image_tag image.file, alt: image.image_name, class: "fixed-height-image", loading: "lazy" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
